<table class="table">
		<tr><%= attachment_image_tag(user, :profile_image, size:"100x100", fallback: "no_image.jpg") %>
      <th></th>
    </tr>
		<tr>
			<th>name</th>
			<td><%= user.name %></td>
		</tr>

		<tr>
      <th>introduction</th>
			<td><%= user.introduction %></td>
		</tr>

    <tr>
      <th>follows:</th>
      <td>
        <%= link_to user_follows_path(user.id) do %>
          <%= user.relationships.count %>
        <% end %>
      </td>
    </tr>

    <tr>
      <th>followers:</th>
      <td>
        <%= link_to user_followers_path(user.id) do %>
          <%= user.reverse_of_relationships.count %>
        <% end %>
      </td>
    </tr>
</table>

<div class="row">
	<%= link_to '',edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{user.id}" %>
</div>

<br>
<% unless current_user == user %>
  <% if current_user.following?(user) %>
    <%= form_for(current_user.relationships.find_by(follow_id: user.id), html: { method: :delete }) do |f| %>
      <%= hidden_field_tag :follow_id, user.id %>
      <%= f.submit 'Unfollow', class: 'btn btn-primary' %>
    <% end %>
  <% else %>
    <%= form_for(current_user.relationships.build) do |f| %>
      <%= hidden_field_tag :follow_id, user.id %>
      <%= f.submit 'Follow', class: 'btn btn-success' %>
    <% end %>
  <% end %>
<% end %>