<h2>Follower Users</h2>
<!--users一覧 -->
<table class="table">
	<thead>
		<tr>
			<th>image</th>
			<th>name</th>
		</tr>
	</thead>

	<tbody>
		<% @user.followers.each do |user| %>
		<tr>
			<td><%= attachment_image_tag(user, :profile_image, size:"50x50", fallback: "no-image-mini.jpg") %></td>
			<td><%= user.name%></td>
			<td>follows:<%= user.relationships.count %></td>
			<td>followers:<%= @user.reverse_of_relationships.count %></td>
			<td><%= render "relationships/follow_button", user: user %></td>
			<td><%= link_to "Show", user, class: "user_#{user.id}" %></td>
		</tr>
		<% end %>
	</tbody>
</table>